<div [ngClass]="{ 'dark-theme': isDarkTheme }">
  <mat-toolbar color="primary">
    <span>Weather App</span>
    <span class="spacer"></span>
    <app-theme-toggle
      (themeToggled)="onThemeToggled($event)"
    ></app-theme-toggle>
  </mat-toolbar>

  <div class="container">
    <app-search-form (search)="handleSearch($event)"></app-search-form>

    <mat-progress-spinner
      *ngIf="loading"
      mode="indeterminate"
    ></mat-progress-spinner>

    <div *ngIf="weather" class="weather-info">
      <h2>{{ weather.name }}</h2>
      <div class="weather-main">
        <img
          [src]="
            'http://openweathermap.org/img/wn/' +
            weather.weather[0].icon +
            '@2x.png'
          "
          [alt]="weather.weather[0].description"
        />
        <h1>{{ weather.main.temp | number : "1.0-0" }}°C</h1>
      </div>
      <h3>{{ weather.weather[0].description }}</h3>
      <p>Humidity: {{ weather.main.humidity }}%</p>
      <p>Wind: {{ weather.wind.speed }} m/s</p>
    </div>

    <app-forecast-list
      *ngIf="forecast.length > 0"
      [forecast]="forecast"
    ></app-forecast-list>
  </div>
</div>
